body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}
.App {
  text-align: center;
  min-height: 100vh;
  width: 100vw;
 
}
a{
  text-decoration: none;
}
.main{
height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body{
  height: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.charts{
  margin-top: 2em; 
  width: 100%;
}
.slick-slider{
  margin-top: 2em;
  margin-left: auto; 
  margin-right: auto;
  width: 80%;

}
.tile{
  display: flex;
  border-style: solid;
  border-color: #c4d6ec; 
  padding: 0.5em; 
  border-radius: 10px; 
  margin-top: 1em; 
  height: auto;
}
.tile-content{
  display: flex;
  flex-direction: column; /* Stacks the h4 and p vertically */
  justify-content: center;
  margin-left: 1em; 
}

.tile-icon{
  width: 3em; 
}

.tile h4{
  border-bottom: 0.1em solid #c4d6ec;
  text-align: left;
}
.tile p{
  margin-top: 0.5em; 
}

.logo{
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 12.00;
  margin-bottom: 0;
}

input{
  display: block;
  border-radius: 10px;
  width: 85%;
  padding-top: 1em;
  padding-bottom: 0.6em;
  padding-left: 0.4em;
  margin-top: 3%;
  margin-left: 8%;
   
  
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.login-box{
  margin: 0;
  background-color: #c4d6ec;
  border-width: 2px;
  border-color: #b4cae4;
  border-style: outset;
  padding-bottom: 10%;
  margin-top: 15%;
  border-radius: 20px;
}
.login-button{
  background-color: #aac1da;
  border-color: #F4B400;
  border-width: thick;
  color: white;
  border-radius: 20px;
  display: block;
  text-decoration: bold;
  margin-top: 1em;
  margin-left: auto; 
  margin-right: auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 25%; 

}
.register-text{
  margin-left: 10%; 
  margin-right: auto;
  display: inline-block;
  font-weight: bold;
}
.chart{
  margin-top: 2em;;
}
.recharts-wrapper {
  margin-top: 8em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
