.main{
    min-height: 100vh;
}
.results-head{
    margin-top: 1em;
    display: grid; 
    grid-template-columns: 1fr  1fr;
    padding: 10px;
    text-align: left;
    width: 60%;
    background-color: transparent;

}
.field-values{
    font-weight: normal;
    font-size: 0.7em;
    margin-top: 0.5em;
}
.results-row {
    border: 1px solid #000; /* Adds border around each row */
  }
.results-row{
    border: 20px;
    border-color: black; ;
    border-width: thick;
}
.tabs__menu{
    text-align: left;
    display: grid;
    margin-top: 0;
    border-style: none none outset none;
    border-color: black;
    font-weight: bold;
    grid-template-columns: auto auto auto 1fr;
}
.tabs__menu-item{
    background-color: transparent;
    border: none;
    margin-top: 0.5em; 
    margin-left: 1em; 
    margin-bottom: 1.5em;
    padding: 0; 
    width: auto;

}
.tabs_content{
    border-radius: 10px;
    border-color: pink;
    border-style: solid; 
    width: 50%;
}
.user-add-button{
    background-color: transparent;
    border-style: none; 
    font-weight: bold;
    padding: 10px;
    padding-top: 0;
    margin-left: 1em;
    justify-self: end;
}
.users-table{
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 1em;
    
}
.user-tile{
    background-color: transparent;
    text-align: left;
    border-radius: 20px;
    border-style: outset;
    margin-top: 1em; 
    margin-left: auto;
    margin-right: auto;
    border-color: #7395bd; 
    border-width: 2px;
    width: 80%;
}
.user-tile__header{
    display: grid; 
    margin-left: 1em;
    grid-template-columns: auto auto;
    padding-top: 1em; 

}
.user-tile__body{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    padding: 20px;
    width: 80%;
}
.user-tile-boy-p{
    font-size: 1em;
    margin-top: 0.5em;
}
.main-content{
    border-style: solid none none none;
    border-width: thin ;
    border-radius: 15px;
    margin-top: 1em; 
}